body {
    font-family: 'Fira Sans', sans-serif;
    /*background: #7b8f99;*/
    background-image: url("./gradientimage.png");
    background-size: cover;
    background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
    height: 100%;
}

p {
    padding: 30px 0px 30px 100px;
    font-size: 27px;
}

table {
    border-collapse: collapse;
    text-align: center;
    vertical-align: center;
    margin: 0 auto;
    margin-top: 100px;
    width: 100%;
}

th {
    padding-top: 50px;
    padding-bottom: 20px;
    position:relative;
    font-weight: normal;
    color: #7b8f99;
    text-transform: uppercase;
    font-size: 30px;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    color: #7b8f99;
    font-size: 25px;
    font-weight: 300;
}

th:nth-child(1):after {
    content:"";
    position:absolute;
    left:40px;
    right:0;
    bottom:0;
    border-bottom:2px solid #7b8f99;
}

th:nth-child(2):after {
    content:"";
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    border-bottom:2px solid #7b8f99;
}

th:nth-child(3):after {
    content:"";
    position:absolute;
    left:0;
    right:40px;
    bottom:0;
    border-bottom: 2px solid #7b8f99;
}

th:nth-child(1), td:nth-child(1) {
    padding-left: 10%;
    text-align: left;
}

th:nth-child(3), td:nth-child(3) {
    padding-right: 2%;
}

td:nth-child(2), td:nth-child(3) {
    text-align: center;
}

tr:nth-child(2) td{
    padding-top: 50px;
}

td:nth-child(1):after {
    content:"";
    position:absolute;
    left:15%;
    right:0;
    bottom:0;
    border-bottom:1px solid rgba(123,143,153,0.22);
}

td:nth-child(2):after {
    content:"";
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    border-bottom:1px solid rgba(123,143,153,0.22);
}

td:nth-child(3):after {
    content:"";
    position:absolute;
    left:0;
    right:30%;
    bottom:0;
    border-bottom: 1px solid rgba(123,143,153,0.22);
}

tr:last-child td:after {
    border-bottom: 0px;
}

td input {
    background: #e5f4fb;
    font-size: 25px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #7b8f99;
    outline: none;
    text-align: center;
    color: #7b8f99;
    caret-color: #7b8f99;
}

td input::-webkit-input-placeholder {
    font-size: 15px;
    text-align: left;
}

td:nth-child(1) input {
    text-align: left;
}

td:nth-child(2) input {
    width: 100px;
}

td:nth-child(3) input {
    width: 100px;
}

td:hover .elem {
    width: 20px;
    opacity: 1;
    margin-right: 20px;
    cursor: pointer;
}

.elem {
    text-align: center;
    width: 0;
    opacity: 0;
    transition: 0.2s linear;
    display: inline-block;
}

.course, td {
    outline: none;
}

.container {
    background: #e5f4fb;
    border-radius: 10px;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.5);
    width: 70%;
    margin: 0 auto;
}

#table-container {
    padding-bottom: 20px;
}

#result {
    margin-top: 50px;
    text-transform: uppercase;
    color: #7b8f99;
}

#grade {
    float: right;
    padding-right: 100px;
    font-size: 33px;
}

#calculate-button {
    background-color: #7b8f99;
    border: none;
    color: #e5f4fb;
    padding: 5px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 60px;
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    outline:none;
    cursor: pointer;
}

/*css classes for javascript*/

.placeholder-color::-webkit-input-placeholder {
    color: red;
}

.input-color {
    color: red;
}
